body{
	
	margin: 0;
	padding: 0;
	font-family: Microsoft Yahei, Verdana, Arial, Helvetica, sans-serif;
}
header{
	position: relative;
	top: 0;
	left: 0;
	padding-top: 0 50px;
	padding-bottom: 0 50px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

header .logo{
	padding: 15px;
	padding-left: 50px;
	height: 65px;
}

header nav{
	background: black;
	padding: 25px;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li{
	list-style: none;
	position: relative;
}

header nav ul li ul{
	position: absolute;
	left: 0;
	background: black;
	display: none;
}

header nav ul li ul .tri{
	height:0px; 
	width:0px;
	margin-left: 65px;
	margin-top: -15px;
  	border-bottom:15px solid black;
  	border-left:10px solid transparent;
  	border-right:10px solid transparent;
}

header nav ul li.active ul, header nav ul li:hover ul{
	display: block;
	margin-top: 40px;
}

header nav ul li ul li{
	display: block;
	width: 200px;
	margin: 20px;
}

header nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 17px;
	padding-left: 45px;
	padding-right: 25px;
	padding-bottom: 40px;
}
header nav ul li ul li a{
	font-size: 14px;
	padding-left: 25px;
	padding-bottom: 15px;
}

header nav ul li a:hover, header nav ul li a.active{
	color: #0f4beb;
	background-color: transparent;																																																																																																						;
}

.menu-toggle{
	width: 30px;
	float: right;
	cursor: pointer;
	display: none;
}

footer{
	height: auto;
	background-color: black;
	color: white;
	font-size: 11px;
	margin-top: 5px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom:0px;
}