@charset "UTF-8";

p {
	display: block;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p.header_name{
	display: block;
	margin-block-start: 5px;
	margin-block-end: 5px;
	padding: 7px 15px 5px;
	font-weight:bold;
	font-size: 18pt;
	line-height: 100%;
	background-color:#33d6ff;
}
input[type=submit]{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
input[type=submit]:hover{
	background-color: #33adff;
}
button {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
button:hover {
	background-color: #33adff;
}

.form_part1{
	float:left;
}
.form_part2{
	float:right;
}

#otherHelpTypeRichText{
	display: none;
	border: 1px solid #ccc;
	width:70%;
}

table{
	width:100%;
}

table th{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-weight: bold;
}