@charset "UTF-8";

body {
	background-color: #0099cc url(../img/background.png) no-repeat scroll
		left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}


.wrapper {
	width: 85%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}


.wrapper p {
	display: block;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.wrapper p.header_name{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight:bold;
	font-size: 18pt;
	line-height: 100%;
	letter-spacing: 0.5px;
}
.wrapper input[type=submit]{
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper input[type=submit]:hover{
	background-color: #33adff;
}
.wrapper input[type=radio]:disabled{
	background-color: #33adff;
}


.wrapper button {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper button:hover {
	background-color: #33adff;
}

.wrapper .form_part1{
	width:35%;
	float:left;
}
.wrapper .form_part2{
	width:65%;
	float:right;
}

#otherHelpTypeRichText{
	display: none;
	border: 1px solid #ccc;
	width:70%;
}


.wrapper .table_session_available{
	padding: 1px 12px;
	border-collapse: collapse;
	box-sizing: border-box;
	width: 80%;
}

.wrapper .table_session_available tr:nth-child(even){
	background-color: #f2f2f2;
}

.wrapper .table_session_available tr:hover {
	background-color: #ddd;
}

.wrapper .table_session_available th{
	border: 1px solid #ddd;
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #929292;
	font-weight: bold;
	font-size: 10pt;
}

.wrapper .table_session_available td{
	border: 1px solid #ddd;
	padding: 8px;
}