body  {
	font-size : 0.8em;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background : #FFFFFF;
	margin: 5px;;
}

h2 {
	font-size : 1.4em;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

img {
	border: 0;
}

.error {
	font-weight : bold;
	color: #FF0000;
}

.RenderOutput {
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

.message {
	font-weight : bold;
	color: #339900;
}

.CurrentScope {
	font-weight : bold;
	text-decoration: none;
}

#BreadCrumbNav img {
	vertical-align: text-bottom;
}


#container {
	width: 1000px;
	margin-right: auto;
}

#banner {
	margin: 0;
	padding: 0;
	background : #0099CC;
}

#menu-global {
	margin: 5px 0 0 0;
	padding: 0 0 3px 0;
	border-bottom: 2px solid #0099CC;
}

#menu-global li {
	display: inline;
	list-style-type: none;
}

#browser {
	font-size : 0.8em;
	float: left;
	width: 250px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#browser ul {
	margin-left: 0;
	padding-left: 15px;
	margin-top: 0;
	padding-top: 0;
	list-style-type: none;
	text-indent: -15px
}
#browser li {
	
}
#browser img {
	border: 0;
}
	
#content {
	padding: 15px 5px 5px 5px;
	/*margin-left: 260px;*/
	background : #FFFFFF;
	z-index: 10;
}

#menu-local {
	margin: 2px 0 5px 0;
	padding: 0;
}

#menu-local li {
	display: inline;
	list-style-type: none;
}

#action {
	padding: 5px;
	overflow: auto;
}

#footer {
	clear: both;
	margin-top: 10px;
   margin-bottom: 100px;
	padding: 5px 0 0 0;
	border-top: 2px solid #0099CC;
	text-align: center;
}
#fields
{
   float: right;
   border: 1px solid #CCCCCC;
   font-size: 12px;
   padding: 5px;
   width: 220px;
}
.field 
{
   display: block;
   margin-bottom: 5px;
}
#fields p {font-weight: bold;}

/* Quick edit */
.quickEdit {display: none;}
.hasQuickEdit {width: 200px;}
.hasQuickEdit input {width: 190px;}

#addNew {display: none;}
#switchBtn 
{
   float: right;
   margin-right: 20px;
}

/* Scenario fields */
.from_student, .from_source 
{
   width: 375px;
}
.from_student {float: right;}
.from_source {float: left;}
.from_inner 
{
   border: 1px solid black;
   padding: 5px;
}
.from_student textarea, .from_source textarea 
{
   width: 360px;
   height: 200px;
}
.big_text { width: 755px;}
.hidden {display: none;}
.from_title {width: 360px;}
.from_student h3, .from_source h3 {margin-top: 0;}
.editLink {font-weight: bold;}

/* Scenario question table */
#scenario_questions
{
   width: 600px; 
   margin-left: auto; 
   margin-right: auto;
   border: 1px solid #999999;
   border-collapse: collapse;
}
#scenario_questions_help 
{
   width: 600px; 
   margin-left: auto; 
   margin-right: auto;
   margin-bottom: 10px;
}
#scenario_questions td, #scenario_questions th
{
   border: 1px solid #999999;   
   padding: 3px;
   vertical-align: top;
} 
.hidden_row {display: none;}

tr.odd{
background-color:#f4f4f4;
}


table.collapsed 
{
   /* border: 1px solid #999999; */
   border: none;
   border-collapse: collapse; 
   width: 860px;  
background-color:#eaeaea;

}
table.collapsed td, table.collapsed th
{
   border-bottom: 1px solid #fff;      
   padding: 7px;
   vertical-align: top;
} 

/* Admin table */
table.admin, table.admin_details
{
   width: 95%;   
   border-width: 1px;
   border-spacing: 0;
   border-style: solid;
   border-color: #0099CC;
   border-collapse: collapse;   
}

table.admin td, table.admin th,
table.admin_details td, table.admin_details th
{
   border-style: solid;
   border-color: #0099CC;
   border-width: 1px;
   padding: 2px;
   vertical-align: top;
   padding-bottom: 0px;
}

tr.admin_heading, tr.admin_heading {background-color: #00AACC;}
table.admin_details td.student_row_title {padding-left: 20px;}

form.adding {display: none;}
div.actions
{
   width: 100%;
   margin-top: 10px;
}
input.text_field {width: 98%;}
input.date_field {width: 70px;}
input.time_field {width: 60px;}

/* Calendar */
.prev_nav, .next_nav {margin-top: 10px;}
.prev_nav {float: left; margin-left: 5px;}
.next_nav {float: right; margin-right: 5px;}

.calendar, .time_panel
{
   display: none; 
   position: absolute;
   z-index: 2;
   width: 300px;
   margin: 0;
   padding: 0;
   background-color: #EEFFFF;
}

.calendar table, .time_panel table
{
   border: 1px solid #33CCFF;
   border-collapse: collapse;
   width: 100%;
   margin: 0px;
}

.calendar table td, .calendar table th,
.time_panel table td, .time_panel table th
{
   border: 1px solid #33CCFF;
   padding: 0;
   height: 30px;
   width: 45px;
   text-align: center;
}
.time_panel {width: 250px;}
.time_panel table td {width: 50px;}

.calendar table th, .time_panel table th {background-color: #30C1F2;}
.calendar p, .time_panel p
{
   margin: 10px;
   text-align: center;
}

.calendar table td a, .time_panel table td a
{
   display: block;
   height: 30px;
   width: 100%;
   text-align: center;
   margin: 0;
}
.calendar table td a:hover {background-color: #33CCFF;}
.time_panel table td a {color: #CCC;}
.time_panel table td a:hover {background-color: #33CCFF; color: white;}
.today {background-color: #FFCC66;}

/* Images that open panel when clicked */
img.panel_img 
{
   position: absolute;
   margin-left: 5px;
}

/* Add session table */
.sessions table td, .sessions table th {vertical-align: bottom;}
.date_cell {width: 110px;}
.time_cell {width: 100px;}

/* download upcoming sessions time table*/
.download_time_table {
	margin: 20px 0 0 0;
}	
