body {
	background-color: #0099cc url(../img/background.png) no-repeat scroll
		left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

header nav {
	text-align: center;
	margin: 4px;
}

header nav a {
	padding: 5px;
	background-color: #5ebef0;
	font-weight: 600;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}

header nav a.active, header nav a:hover {
	padding: 5px;
	background-color: #fff;
	font-weight: 600;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	border: 1px #5ebef0 solid;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px #95e0fd solid;
}

.wrapper nav {
	margin-top: 10px;
	font-size: 0.8em;
}

.wrapper h3 {
	background-color: #2ccaff;
	padding-left: 5px;
	color: white;
	line-height: 1.5em;
	margin-bottom: 20px;
}

.wrapper .selectArea {
	padding-bottom: 10px;
}

.wrapper .selectArea .emailType {
	float: left;
}

.wrapper .changeTemplate { //
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px #cacaca solid;
	border-bottom: 1px #cacaca solid;
}

.wrapper .changeTemplate h4 {
	text-align: center;
}

.wrapper .changeTemplate table th {
	font-weight: normal;
	font-size: 0.9em;
}

.wrapper .changeTemplate textarea {
	width: 95%;
}

.wrapper .changeTemplate .publishArea {
	background-color: #dadbdd;
	color: #bc4115;
}

.wrapper .instruction {
	padding: 10px;
}

.wrapper .instruction .bullet {
	padding: 15px;
}

footer {
	padding: 8px;
	text-align: center;
	font-size: 0.8em;
	color: #595a5a;
}