@charset "UTF-8";


header nav {
	text-align: center;
	margin: 4px;
}

header nav a {
	padding: 5px;
	background-color: #5ebef0;
	font-weight: 600;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}

header nav a:hover {
	padding: 5px;
	background-color: #fff;
	font-weight: 600;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	border: 1px #5ebef0 solid;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px #95e0fd solid;
}

.wrapper nav {
	margin-top: 10px;
	margin-bottom: 30px;
}

.wrapper nav a {
	padding: 5px;
	background-color: #5ebef0;
	font-weight: 600;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}

.wrapper nav a:hover {
	padding: 5px;
	background-color: #fff;
	font-weight: 600;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	border: 1px #5ebef0 solid;
}

.wrapper input[type=text]{
	
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.wrapper select {
	width: 10%;
}
.wrapper select:focus {
	min-width: 100px;
	width: auto;
} 

.wrapper p {
	display: block;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.wrapper p.header_name{
	display: block;
	margin-block-start: 5px;
	margin-block-end: 5px;
	padding: 7px 15px 5px;
	font-weight:bold;
	font-size: 18pt;
	line-height: 100%;
	background-color: #33d6ff;
	color:white;
}

.wrapper input[type=submit]{
    text-align: center;
    cursor: default;
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper input[type=submit]:hover{
	background-color: #33adff;
}

.wrapper button {
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
	border: 1px solid #ccc;
    background-color: #ffffff;
    box-sizing: border-box;
}
.wrapper button:hover {
	background-color: #33adff;
}


/* Style the tab */
.wrapper .tab {
	overflow: hidden;
	background-color: none;
	box-sizing: border-box;
	
	width: 100%;
}

/* Style the buttons that are used to open the tab content */
.wrapper .tab button {
	background-color: inherit;
	float: left;
	border: 1px solid #33adff;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.wrapper .tab button:hover {
	background-color: #33d6ff;
}

/* Create an active/current tablink class */
.wrapper .tab button.active {
	background-color: #00ace6;
	font-weight:bold;
}



.wrapper .table_session_available{
	padding: 1px 12px;
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}

.wrapper .table_session_available tr:nth-child(even){
	background-color: #f2f2f2;
}

.wrapper .table_session_available tr:hover {
	background-color: #ddd;
}

.wrapper .table_session_available th{
	border: 1px solid #ddd;
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #ccf5ff;
	font-weight: bold;
	font-size: 10pt;
}

.wrapper .table_session_available td{
	border: 1px solid #ddd;
	padding: 8px;
}

.wrapper .attendance{
	margin-top: 3em;
	padding-bottom: 1em;
	border-bottom: 2px solid #ccc;
	
}
.wrapper #tAddSessions th, td{
	border-bottom: 1px solid #ccc;
	padding: 8px;
}
