*{
	margin: 0;
}
body {
    background-color: #0099cc url(../img/background.png) no-repeat scroll left top;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
}
.header{
	width: 75%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 2px #95e0fd solid;
	border-right: 2px #95e0fd solid;
}
.header nav{
	margin-bottom:10px;
}

.header h3
{
	background-color: #2ccaff;
	color: white;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.header .step
{
	width:20%;
	font-weight:bold;
}