#foot{
	padding-top:40px;
	border: none;
	margin: 0;
	width: 1504.3px;
	height:296.4px;
	position: relative;
	background-color: #000;
}
#foot a{
	font-family: "NB Akademie Std",Arial,sans-serif;
	font-weight:300;
	color: #b2b2b2;
	text-decoration : none;
}
#foot a:visited, :link:visited {
    /* color: #0f4beb; */
}
#foot span{
	color: #fff;
	font-size: 1.25rem;
}
#foot #li1{
	position: absolute;
	left: 150px;
}
#foot #li2{
	position: absolute;
	left: 400px;
}
#foot #li3{
	position: absolute;
	left: 650px;
}
#foot #li4{
	position: absolute;
	left: 900px;
}
#foot .footer-menu__item a, #foot .field-item a{
	font-size: 15px;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}
#foot .footer-menu__item a:hover, #foot .field-item a:hover {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
    color: #fff;
}
#foot .footer-menu__level-2{
	padding-top: 20px;
	position: absolute;
	left:-40px;
	width: 150px;
}
#foot .field-item{
	position: absolute;
	left: 1050px;
	top:35px;
	width: 300px;
	line-height: 25px;
}
#foot .field-item h3{
	position: absolute;
	left:40px;
	width: 300px;
	line-height: 25px;
}
#foot .field-item p{
	position: absolute;
	left:40px;
	top:50px;
	width: 300px;
	line-height: 25px;
}
#foot .footer-social__menu img{
	background-color: #D3D3D3;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 115px;
	margin-right: 20px;
	padding: 0px;
}
#foot .footer-social__item{
	float:left;
	margin: 0 0 1.5rem;
	margin-right: 20px;
	padding: 0px;
}

